body {
    margin: 0;
    font-family: "Arial", sans-serif;
    cursor: url(cursor.cur), pointer;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px; 
}

.top-line {
    display: flex;
    justify-content: space-between;
}
.header {
    padding: 15.5px 0;
    background-color: #1f1f56;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}

.header ul {
    margin: 0 -14px;
    padding-left: 0;
    list-style: none;
}
.header li {
    display: inline-block;
    margin: 0 14px;
}
.menu {
    display: inline;
}
.menu a {
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
    transition: all 0.5s ease;
}
.menu a:hover {
    color: #fd8300;
}

.contact-info {
    padding: 20px 0;
}

.aic {
    align-items: center;
}
.social {
    display: flex;
    justify-content: flex-end;
}

.phones p,
.messengers p {
    margin: 10px 0;
}

.phones a {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}

.messengers a {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;

    }
.skype {
    text-decoration: none;
}


.cta a {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color:#25252c;
    text-decoration: none;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: all .25s ease;
}
.cta a:hover {
    background-color: #fd8300;
    color: #fff;
}
.proposition {
    background: #292523 url(../img/backround.jpg) center/cover;
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 60px 0 40px;
}
.proposition p {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 8px 0;

}
.prop-title {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font: "Roboto Slab";
}
.prop-text {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font: "Arial";
    
 }
 .proposition span {
    margin-right: 5px;
    font-size: 40px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
 }
 .prop-cost   {

    font-size: 24px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
 }
 
 .content {
    height: 193px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
 }
 .content h1 {
    font-size: 30px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font: "Roboto Slab";
 }
 .content a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
 }
 .hr {
    border-top: 1px;

}
.content h2 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font: "Roboto Slab";
}
 .project {
     margin-left: -40px;
     display: flex;
     justify-content: space-between;
 }
 .project a {
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none;
 }
.project p { 
    width: 220px;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}
.down-menu {

}


