@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
    cursor: url(cursor.cur), pointer;
}
sup {
    font-size: 0.6em;
}
hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #e4e4ec;;
}

a {
    position: relative;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px; 
}
.header-shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: #fff;
}

.header {
    padding: 15.5px 0;
    background-color: #1f1f56;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 28px;
}
.column {
    width: 219px;
    box-sizing: border-box;
}

.header ul {
    margin: 0 -14px;
    padding-left: 0;
    list-style: none;
}
.header li {
    display: inline-block;
    margin: 0 14px;
}
.menu {
    display: inline;
}
.menu a {
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
    transition: all 0.5s ease;
}
.menu a:hover {
    color: #fd8300;
}

.contact-info {
    padding: 20px 0;
}

.aic {
    align-items: center;

}
.social a {
    display: block;
    background: url(../img/sprite.png) no-repeat;
}
a.fb {
    width: 10px;
    height: 19px;
    background-position: -2px 0;
}
a.fb:hover {
    background-position: -2px -22px;
}
a.in {
    width: 19px;
    height: 19px;
    background-position: -14px 0;
}
a.in:hover {
    background-position: -14px -22px ;
}
a.tw {
    width: 18px;
    height: 15px;
    background-position: -35px 0;
}
a.tw:hover {
background-position: -35px -22px;
}

.phones,
.messengers {
    padding-left: 48px;
}
.phones p,
.messengers p {
    margin: 10px 0;
}

.phones a {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}

.icon:before {
    content: '';
    position: absolute;
    left: -28px;
    top: 2px;
}

.tel:before {
    width: 16px;
    height: 17px;
    background: url(../img/sprite.png) no-repeat -55px 0;
}

.messengers a {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;

}
.mail:before {
    width: 17px;
    height: 13px;
    background: url(../img/sprite.png) no-repeat -73px 0;
}

.skype:before {
   
    width: 18px;
    height: 19px;
    background: url(../img/sprite.png) no-repeat -55px -21px;
}
.stick {
    position: relative;
}
.stick:before {
    content: '';
    position: absolute;
    right: -18px;
    top: 15px;
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
}


.skype {
    text-decoration: none;
}
.cta {
    text-align: right;
}


.cta a {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color:#25252c;
    text-decoration: none;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: all .25s ease;
}
.cta a:hover {
    background-color: #fd8300;
    color: #fff;
}

.proposition {
    text-align: center;
    background: #292523 url(../img/backround.jpg) center/cover;
    color: #ffffff;
    padding: 55px 0 35px;
}
.proposition p {
    margin: 0;

}
.prop-title {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
}
p.prop-text {
    margin: 5px 0;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
 }

 .prop-cost   {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
 }
 .prop-cost span {
     font-size: 40px;
 }
 .main {
     padding: 35px 0 45px;
 }
 .main-info {
     max-width: 713px;

 }
 .main-price {
     max-width: 960px;

 }
 .main-info h1,
 .main-info h2 {
    color: #24242b;
    font-family: "Roboto Slab";

 }
 .main-info h1 {
     margin-top: 5px;
    font-size: 30px;
    
 }
 .main-info h2 {
    font-size: 24px;
 }
 

.table-price table {
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    margin: 25px 0;
    border-collapse: collapse;
 }
 
 td {
    
    padding: 8.5px 20px;
    text-align: left;
}
 .table-price th {
     padding: 13px 20px;
     text-align: left;
    font-size: 14px;
    color: #fff;
    background-color: #1f1f56;
    font-weight: 700;
    font-family: "Roboto Slab";
 }

 .table-price td {
    font-size: 14px;
    border: 1px solid #cdcddd;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    
} 
.table-price tr:first-child td {
    border-top: 0;
}

.table-price th:last-child,
.table-price td:last-child {
    text-align: right;
}

tbody tr {
    color: #666;
     background-color: #e4e4ec;
     transition: all 0.2s ease;
 }
 tbody tr:hover {
     color: #fff;
     background-color:#fd8300;
     cursor: pointer;
 }
 
 .content {
    font-size: 14px;
    line-height: 24px;
    color: #666666;

 }
 
 .main-info a {
    font-size: 14px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    transition: all 0.2s ease;  
 }
 .main-info a:hover {
     text-decoration: none;
 }

 .home {
     position: relative;
     margin: 0;
     display: flex;
     justify-content: space-between;
 }
 .home a {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
 }
 .home a:hover ~ h3 {
     text-decoration: underline;

 }
 .home h3 {
    margin: 5px 0 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    text-decoration: none;
 }
 .home h3 span {
     text-transform: lowercase;
 }
 
.home p { 
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

figure {
    margin: 0;
}
.aside-menu {
    position: sticky;
    top: 35px;
    border-radius: 3px;
    overflow: hidden;
}

.sidebar {
    min-width: 219px;
}

.aside-menu p {
    margin: 0;
    padding: 10px 15px;
    color: #fff;
    background-color: #1f1f56;
    font:700 16px/1.5em "Roboto Slab";
}
.aside-menu ul {
    padding: 0;
    margin: 0;
    background-color: #e4e4ec;
    list-style: none;
}
.aside-menu a {
    display: block;
    padding: 10px 15px;
    font-size: 14px; 
    line-height: 24px;
    color: #25252c;
    background-color: #e4e4ec;
    text-decoration: none;
    transition: all 0.3s ease;
}

.aside-menu > ul > li + li > a  {
    
    border-top: 1px solid #cdcddd;
}
.aside-menu > ul > li:hover > a {
    color: #fff;
    background-color: #fd8300;

}
.aside-menu> ul > li > a:before {
    content: '';
    position: absolute;
    right: 15px;
    top: 18px;
    width: 7px;
    height: 7px;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    transform: rotate(-45deg);
    transition: all .5s ease;

}
.aside-menu > ul > li:hover > a:before {
    top: 15px;
    border-color: #fff;
    transform: rotate(45deg);
}
.aside-menu li:hover .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
}

.sub-menu a {
    padding-left: 30px;
    color: #666;
}
.sub-menu a:hover {
    color: #666;
    background-color: #cecedd;
}
.footer {
    padding: 30px 0 20px;
    background-color: #ededf5;
}
.footer-menu {

    margin: 10px 0;
    padding: 0;
    list-style: none;
    
}
.footer-menu a {
    font-size: 14px;
    line-height: 26px;
    color: #666;
    text-decoration: none;
}
.footer-menu a:hover {
    text-decoration: underline;
    color:#fd8300;
}

.coppy {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    height: 45px;
    background-color: #dcdce6;
}
.coppy p {
    margin: 0;
    padding: 13.5px 0;
}
.contacts {
    display: flex;
    justify-content: space-between;
}
.all-contacts h2 {
    font-size: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.office h3,
.consultation h3,
.detalis h3 {
    margin: 0;
    font-size: 14px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.office p,
.consultation p,
.detalis p {
    font-size: 14px;
    color: #666666;
}
.tel {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #25252c;

}
.mail {
    font-size: 16px;
    text-decoration: underline;
    color: #25252c;
}
.detalis {
padding-right: 81px;
}
.detalis p {
    line-height: 24px;
}
.consultation {
    padding-right: 50px;
}



.location iframe {
    width: 465px;
    height: 300px;
}
.location {
    margin: 40px 0;
}

.feedback {
    margin: 23px 0;
    width: 48%;
}
.feedback input,
.feedback textarea {
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #c5c5d4;
}

.connection h3 {
    font-size: 14px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.form-menu,
.flex {

    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    
}
.form-menu label{
    width: 48%;
    
}
.name,
.phone {
    width: 100%;
    height: 40px;
    
}
.text{
    height: 106px;
    width: 100%;
    
}
.topic-ms {
    margin-bottom: 10px;
    height: 40px;
    width: 100%;

}
.cta2 {
    text-align: right;
}


.cta2 a {
    display: inline-block;
    padding: 7px 35px;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 21px;
    background-color: #fd8300;
    border: 2px solid #fd8300;
    transition: all .25s ease;
}
.cta2 a:hover {
    border:  2px solid #1f1f56 ;
    background-color: #1f1f56;

}
.flex {
    margin-top: 10px;
}
.checkbox {
    margin-top: 3%;
}
.flex label {
    margin-right: 30px;
    font-size: 13px;
    color: #666666;
    font-family: "Arial";

}




