@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
    cursor: url(cursor.cur), pointer;
}
sup {
    font-size: 0.6em;
}
hr {
    margin: 30px 0;
    border: none;
    border-top: 1px solid #e4e4ec;;
}

a {
    position: relative;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px; 
    padding: 0 15px;
    
    
}
.header-shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    background-color: #fff;
}

.header {
    padding: 15.5px 0;
    background-color: #1f1f56;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 28px;
}
.column {
    width: 219px;
    box-sizing: border-box;
}

.header ul {
    margin: 0 -14px;
    padding-left: 0;
    list-style: none;
}
.header li {
    display: inline-block;
    margin: 0 14px;
}

.hamburger {
    display: none;
    
}

.menu a {
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
    transition: all 0.5s ease;
}
.menu a:hover {
    color: #fd8300;
}

.contact-info {
    padding: 20px 0;
}

.aic {
    align-items: center;

}
.social a {
    display: block;
    display: flex;
    align-items: flex-end;
    background: url(../img/sprite.png) no-repeat;
}
a.fb {
    width: 10px;
    height: 19px;
    background-position: -2px 0;
}
a.fb:hover {
    background-position: -2px -22px;
}
a.in {
    width: 19px;
    height: 19px;
    background-position: -14px 0;
}
a.in:hover {
    background-position: -14px -22px ;
}
a.tw {
    width: 18px;
    height: 15px;
    background-position: -35px 0;
}
a.tw:hover {
background-position: -35px -22px;
}

.phones,
.messengers {
    padding-left: 48px;
}
.phones p,
.messengers p {
    margin: 10px 0;
}

.phones a {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}

.icon:before {
    content: '';
    position: absolute;
    left: -28px;
    top: 2px;
}

.tel:before {
    width: 16px;
    height: 17px;
    background: url(../img/sprite.png) no-repeat -55px 0;
}

.messengers a {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;

}
.mail:before {
    width: 17px;
    height: 13px;
    background: url(../img/sprite.png) no-repeat -73px 0;
}

.skype:before {
   
    width: 18px;
    height: 19px;
    background: url(../img/sprite.png) no-repeat -55px -21px;
}




.skype {
    text-decoration: none;
}
.cta {
    text-align: center;
}


.cta a {
    display: inline-block;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color:#25252c;
    text-decoration: none;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: all .25s ease;
}
.cta a:hover {
    background-color: #fd8300;
    color: #fff;
}

.proposition {
    text-align: center;
    background: #292523 url(../img/backround.jpg) center/cover;
    color: #ffffff;
    padding: 55px 0 35px;
}
.proposition p {
    margin: 0;

}
.prop-title {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
}
p.prop-text {
    margin: 5px 0;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
 }

 .prop-cost   {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
 }
 .prop-cost span {
     font-size: 40px;
 }
 .main {
    flex-wrap: wrap-reverse;
     padding-top: 35px;
     padding-bottom: 35px;

 }
 .main-info {
     width: 100%;

 }
 .main-price {
     max-width: 960px;

 }
 .main-info h1,
 .main-info h2,
 .main-price h1,
 .main-price h2 {
    color: #24242b;
    font-family: "Roboto Slab";

 }
 .main-info h1,
 .main-price h1 {

    padding-top: 20px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    
 }
 .main-info h2,
 .main-price h2 {
    font-size: 24px;
 }

 .table-price {

    overflow: scroll;
 }


.table-price table {
    margin: 25px 0;
    width: 100%;
    border-radius: 3px;
    border-collapse: collapse;
 }
 
 td {
    
    padding: 8.5px 20px;
    text-align: left;
}
 .table-price th {
     padding: 13px 20px;
     text-align: left;
    font-size: 14px;
    color: #fff;
    background-color: #1f1f56;
    font-weight: 700;
    font-family: "Roboto Slab";
 }

 .table-price td {
    font-size: 14px;
    border: 1px solid #cdcddd;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    
} 
.table-price tr:first-child td {
    border-top: 0;
}

.table-price th:last-child,
.table-price td:last-child {
    text-align: right;
    min-width: 63px;
}

tbody tr {
    color: #666;
     background-color: #e4e4ec;
     transition: all 0.2s ease;
 }
 tbody tr:hover {
     color: #fff;
     background-color:#fd8300;
     cursor: pointer;
 }
 
 .content {
    
    font-size: 14px;
    line-height: 24px;
    color: #666666;

 }
 
 .main-price a,
 .main-info a {
    font-size: 14px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    transition: all 0.2s ease;  
 }
 .main-price a:hover,
 .main-info a:hover {
     text-decoration: none;
 }
 

.home {
     position: relative;
     margin: 0;
     display: flex;
     justify-content: space-between;
 }
 .home a {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
 }
 .home a:hover ~ h3 {
     text-decoration: underline;

 }
 .home h3 {
    margin: 5px 0 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    text-decoration: none;
 }
 .home h3 span {
     text-transform: lowercase;
 }
 
.home p { 
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

figure {
    margin: 0;
}
.aside-menu {
    
    
    position: sticky;
    top: 35px;
    border-radius: 3px;
    overflow: hidden;
}

.sidebar {
    flex: 0 0 100%;
    min-width: 219px;
}

.aside-menu p {
    margin: 0;
    padding: 10px 15px;
    color: #fff;
    background-color: #1f1f56;
    font:700 16px/1.5em "Roboto Slab";
}
.aside-menu ul {
    padding: 0;
    margin: 0;
    background-color: #e4e4ec;
    list-style: none;
}
.aside-menu a {
    display: block;
    padding: 10px 15px;
    font-size: 14px; 
    line-height: 24px;
    color: #25252c;
    background-color: #e4e4ec;
    text-decoration: none;
    transition: all 0.3s ease;
}

.aside-menu > ul > li + li > a  {
    
    border-top: 1px solid #cdcddd;
}
.aside-menu > ul > li:hover > a {
    color: #fff;
    background-color: #fd8300;

}
.aside-menu> ul > li > a:before {
    content: '';
    position: absolute;
    right: 15px;
    top: 18px;
    width: 7px;
    height: 7px;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    transform: rotate(-45deg);
    transition: all .5s ease;

}
.aside-menu > ul > li:hover > a:before {
    top: 15px;
    border-color: #fff;
    transform: rotate(45deg);
}
.aside-menu li:hover .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
}

.sub-menu a {
    padding-left: 30px;
    color: #666;
}
.sub-menu a:hover {
    color: #666;
    background-color: #cecedd;
}
.footer {
    padding: 30px 0 20px;
    background-color: #ededf5;
}
.footer-menu {
    
    margin: 10px 0;
    padding: 0;
    list-style: none;
    
}
.footer-menu a {
    font-size: 14px;
    line-height: 26px;
    color: #666;
    text-decoration: none;
}
.footer-menu a:hover {
    text-decoration: underline;
    color:#fd8300;
}

.coppy {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    height: 45px;
    background-color: #dcdce6;
}
.coppy p {
    margin: 0;
    padding: 13.5px 0;
}
.contacts {
    
}
.all-contacts h2 {
    text-align: center;
    font-size: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.office h3,
.consultation h3,
.detalis h3 {
    margin: 0;
    font-size: 14px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.office p,
.consultation p,
.detalis p {
    font-size: 14px;
    color: #666666;
}
.tel {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #25252c;

}
.mail {
    font-size: 16px;
    text-decoration: underline;
    color: #25252c;
}
.detalis {
    padding-right: 81px; 
}
.detalis p {
    line-height: 24px;
}
.consultation {
    padding-right: 50px;
}



.connection {
    width: 96%;
}
.location iframe {
    width: 100%;
    height: 300px;
    border: none;
}
.location {
    width: 48%;
    margin: 17px 0 40px;
}

.feedback {
    margin: 0;
    width: 48%;
}
.feedback input,
.feedback textarea {
    box-sizing: border-box;
    padding-left: 16px;
    padding-bottom: 5px;
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #c5c5d4;
}
.feedback textarea {
    max-width: 100%;
}




.connection h3 {
    font-size: 14px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}


.form-menu,
.flex {

    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.form-menu label{
    width: 48%;
    
}
.name,
.phone {
    width: 100%;
    height: 40px;
    
}

.topic-ms {
    margin-bottom: 10px;
    height: 40px;
    width: 100%;

}
.text {
    resize: vertical;
    width: 100%;
    max-width: 462px;
    min-height: 106px;
    padding: 7px;
}

.textarea {
    padding-top: 5px;
    font-size: 13px;
    padding-top: 11px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
    
}
.check-box {
    visibility: hidden;
    position: absolute;
    line-height: 21px;
}
.check-box + label {
    position: relative;
    padding: 8px 25px;
    margin-left: 30px;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
}

.check-box + label:before, 
.check-box + label:after {
    content: "";
    position: absolute;
}
.check-box + label:after {
    left: 6px;
    top: 11px;
    
}
.check-box:checked + label:after {
    width: 4px;
    height: 9px;
    border-bottom: 2px solid #1f1f56;
    border-right: 2px solid #1f1f56;
    transform: rotate(45deg);
}
.check-box + label:before {
    left: 0;
    top: 10px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}





.cta2 {
    text-align: right;
}


.cta2 a {
    display: inline-block;
    padding: 7px 35px;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 21px;
    background-color: #fd8300;
    border: 2px solid #fd8300;
    transition: all .25s ease;
}
.cta2 a:hover {
    border:  2px solid #1f1f56 ;
    background-color: #1f1f56;

}
.flex {
    
    margin-top: 10px;
}
.checkbox {
    margin-top: 3%;
    margin-right: 43px;
}
.flex label {

    font-size: 13px;
    color: #666666;
    font-family: "Arial";

}

.popular-projects h2 {
    text-align: center;
}







@media screen and (min-width: 974px) {
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}


@media screen and (max-width: 760px) {
    .form-menu {
        flex-direction: column;
    }
    .form-menu label {
        width: 100%;
        padding-bottom: 10px;

    }
    .location{
        width: 100%;
        
    }
    .feedback {
        width: 100%;
    }
    .flex {
        flex-direction: column;
        align-items: center;
    }
    
}
@media screen and (min-width: 713px) {

    .stick {
        position: relative;
    }
    .stick:before {
        content: '';
        position: absolute;
        right: -18px;
        top: 15px;
        width: 1px;
        height: 51px;
        background-color: #e4e4ec;
    }
}
@media screen and (min-width: 960px ) {
    .popular-projects h2 {
        text-align: left;
    }
}
@media screen and (min-width: 950px ){
    .footer-menu {
        padding: 0;
        text-align: left;
    }
    .row {
    
        justify-content: space-between;
    }
    .all-contacts h2 {
        text-align: left;
    }
   
}
@media screen and (min-width: 940px) {
    .content {
        text-align: left;
    }
    .main {
        flex-wrap: nowrap;
        
    }
    .sidebar {
        flex: 0 0 219px;
        width: 219px;
    }
    .main-info {
        max-width: 713px;
    }
    .main-price {
        max-width: 960px;
    }
    .main-info h1,
    .main-price h1 {

    padding-top: 0;
 }

}

@media screen and (min-width: 500px) {

.main-info h1,
 .main-price h1 {

    padding-top: 0;
    font-size: 30px;
    text-align: left;
    
 }
}
@media screen and (max-width: 499px) {

.contacts {
    display: flex;
    justify-content: flex-start;

}
}








@media screen and (max-width: 800px){
    .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.hamburger span {
    margin: 4px 0;
    width: 35px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
}
.menu {
    display: block;
    
}
.menu ul {
    display: flex;
    margin: 0;
    position: absolute;
   
    left: 0;
    right: 0;
    top: 55px;
    background-color: #e4e4ec;
    z-index: 1;
    row-gap: 0;
}
.menu a {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    color: #25252c;
    line-height: 24px;
    font-weight: 700;
}
}






